<header class="top-navbar">

    

    <div class="nav-left">

        <div class="chat-title">

            <div class="chat-icon">

                AI

            </div>

            <div>

                <h2>SteelLearn AI</h2>

                <span class="status">

                    <span class="status-dot"></span>

                    AI Assistant Ready

                </span>

            </div>

        </div>

    </div>

    

    <div class="nav-right">

        

        <a href="{% url 'clear_chat' %}" class="nav-btn">

            <span>Clear Chat</span>

        </a>

        

        <a href="{% url 'new_chat' %}" class="nav-btn primary">

            <span>+ New Chat</span>

        </a>

       

        <button class="icon-btn" type="button">

            🔔

        </button>

        

        <div class="profile">

            AD

        </div>

    </div>

</header>